{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    <img src="{% static 'images/babylion.png' %}" alt="아기사자" width="100px">
    <p class="tag">LikeLion_14th_session</p>
    <h1 class="title">2026 멋쟁이사자처럼 {{ generation }}기</h1>
    <h6 class="welcome">Welcome Django!</h6>

    <div class="section">
        <div class="section-title">🦁 머쩅이 사자의 일기짱 🦁</div>
        <ul>
            <li>오늘의 날씨 : {{ info.weather }}</li>
            <li>오늘의 기분 : {{ info.feeling }}</li>
            <li>{{ info.note }}</li>
        </ul>
    </div>

    <div class="section">
        <div class="section-title">🦁 VS Code 단축키 🦁</div>
        <ul>
            {% for shortcut in shortcuts %}
            <li>{{ shortcut }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

